@charset "UTF-8";
:root {
  --thead-background-color: rgb(211, 222, 233);
}
.el-checkbox,
.el-checkbox__input {
  display: inline-block;
  position: relative
}

.el-table td.is-hidden>*,
.el-table th.is-hidden>*,
.el-table--hidden {
  visibility: hidden
}

.el-checkbox-button__inner,
.el-table th {
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  white-space: nowrap
}

.el-table,
.el-tag {
  -webkit-box-sizing: border-box
}

.el-table {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  max-width: 100%;
  min-height: 226px;
  font-size: 14px;
  color: #606266
}

.el-table--mini,
.el-table--small {
  font-size: 12px
}

.el-table__empty-block {
  /* position: relative; */
/*   min-height: 60px;
  text-align: center;
  width: 100%;
  height: 100% */
  display: none;
}

.el-table__empty-text {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
/*   -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  color: color(#409EFF s(16%) l(44%))
}

.el-table__expand-column .cell {
  padding: 0;
  text-align: center
}

.el-table__expand-icon {
  position: relative;
  cursor: pointer;
  color: #666;
  font-size: 12px;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  height: 20px
}

.el-table__expand-icon--expanded {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.el-table__expand-icon>.el-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -5px
}

.el-table__expanded-cell[class*=cell] {
  padding: 20px 50px
}

.el-table__expanded-cell:hover {
  background-color: #f5f7fa!important
}

.el-table--fit {
  border-right: 0;
  border-bottom: 0
}

.el-table--fit td.gutter,
.el-table--fit th.gutter {
  border-right-width: 1px
}

.el-table thead {
  color: #555;
  font-weight: 200;
  /* background: rgb(212, 223, 236); */
}

.el-table thead.is-group th {
  background: var(--thead-background-color);
}

.el-table td,
.el-table th {
  /* padding: 10px 0; */
  min-width: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative
}
.el-table__header {
  background: var(--thead-background-color);
}
.el-table__header td,
.el-table__header th {
  padding: 6px 0;
}
.el-table td {
  padding: 10px 0;
}
.el-table td.is-center,
.el-table th.is-center {
  text-align: center
}

.el-table td.is-left,
.el-table th.is-left {
  text-align: left
}

.el-table td.is-right,
.el-table th.is-right {
  text-align: right
}

.el-table td.gutter,
.el-table th.gutter {
  width: 15px;
  border-right-width: 0;
  border-bottom-width: 0;
  padding: 0
}

.el-table--medium td,
.el-table--medium th {
  padding: 10px 0
}

.el-table--small td,
.el-table--small th {
  padding: 8px 0
}

.el-table--mini td,
.el-table--mini th {
  padding: 6px 0
}

.el-table .cell,
.el-table th div {
  text-overflow: ellipsis;
  padding-right: 10px;
  overflow: hidden
}

.el-table .cell,
.el-table th div,
.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell {
  padding-left: 10px
}

.el-table tr {
  background-color: #fff
}

.el-table tr input[type=checkbox] {
  margin: 0
}

.el-table td,
.el-table th.is-leaf {
  border-bottom: 1px solid #ebeef5
}

.el-table th.is-sortable {
  cursor: pointer
}

.el-table th {
  overflow: hidden;
  user-select: none;
  text-align: left;
  background: rgb(212, 223, 236);
}

.el-table th div {
  display: inline-block;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap
}

.el-table th>.cell {
  position: relative;
  word-wrap: normal;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.el-table th>.cell.highlight {
  color: #409EFF
}

.el-table th.required>div::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff4d51;
  margin-right: 5px;
  vertical-align: middle
}

.el-table td div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.el-table td.gutter {
  width: 0
}

.el-table .cell {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
  word-break: break-all;
  line-height: 23px
}

.el-table .cell.el-tooltip {
  white-space: nowrap;
  min-width: 50px
}

.el-table--border,
.el-table--group {
  border: 1px solid #c3d4e8
}

/* .el-table--border::after,
.el-table--group::after,
.el-table::before {
  content: '';
  position: absolute;
  background-color: #ebeef5;
  z-index: 1
}

.el-table--border::after,
.el-table--group::after {
  top: 0;
  right: 0;
  width: 1px;
  height: 100%
} */

.el-table::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px
}

.el-table--border {
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.el-table--border th {
  border-right: 1px solid #c3d4e8;
  border-bottom: 1px solid #c3d4e8
}

.el-table--border td {
  border-right: 1px solid #ebeef5
}

.el-table--border .has-gutter td:nth-last-of-type(2),
.el-table--border .has-gutter th:nth-last-of-type(2) {
  border-right: none
}

.el-table--border th.gutter:last-of-type {
  border-bottom: 1px solid #ebeef5;
  border-bottom-width: 1px
}

/* .el-table--border th, */
.el-table__fixed-right-patch {
  border-bottom: 1px solid #ebeef5
}

.el-table__fixed,
.el-table__fixed-right {
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .12);
  box-shadow: 0 0 10px rgba(0, 0, 0, .12)
}

.el-table__fixed-right::before,
.el-table__fixed::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #ebeef5;
  z-index: 4
}

.el-table__fixed-right-patch {
  position: absolute;
  top: -1px;
  right: 0;
  background-color: #fff
}

.el-table__fixed-right {
  top: 0;
  left: auto;
  right: 0
}

.el-table__fixed-right .el-table__fixed-body-wrapper,
.el-table__fixed-right .el-table__fixed-footer-wrapper,
.el-table__fixed-right .el-table__fixed-header-wrapper {
  left: auto;
  right: 0
}

.el-table__fixed-header-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3
}

.el-table__fixed-footer-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3
}

.el-table__fixed-footer-wrapper tbody td {
  border-top: 1px solid #ebeef5;
  background-color: #f5f7fa;
  color: #606266
}

.el-table__fixed-body-wrapper {
  position: absolute;
  left: 0;
  top: 37px;
  overflow: hidden;
  z-index: 3
}

.el-table__body-wrapper,
.el-table__footer-wrapper,
.el-table__header-wrapper {
  width: 100%
}

.el-table__footer-wrapper {
  margin-top: -1px
}

.el-table__footer-wrapper td {
  border-top: 1px solid #ebeef5
}

.el-table__body {
/*   min-height: 226px; */
}
.el-table__body,
.el-table__footer,
.el-table__header {
  table-layout: fixed;
  text-align: center;
}

.el-table__footer-wrapper,
.el-table__header-wrapper {
  overflow: hidden
}

.el-table__footer-wrapper tbody td,
.el-table__header-wrapper tbody td {
  background-color: #f5f7fa;
  color: #606266
}

.el-table__body-wrapper {
  min-height: 226px;
  overflow: auto;
  position: relative;
  background: #fff;
}

.el-table__body-wrapper.is-scroll-left~.el-table__fixed,
.el-table__body-wrapper.is-scroll-none~.el-table__fixed,
.el-table__body-wrapper.is-scroll-none~.el-table__fixed-right,
.el-table__body-wrapper.is-scroll-right~.el-table__fixed-right {
  -webkit-box-shadow: none;
  box-shadow: none
}

.el-table__body-wrapper .el-table--border.is-scroll-right~.el-table__fixed-right {
  border-left: 1px solid #ebeef5
}

.el-table__body-wrapper .el-table--border.is-scroll-left~.el-table__fixed {
  border-right: 1px solid #ebeef5
}

.el-table .caret-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 34px;
  width: 24px;
  vertical-align: middle;
  cursor: pointer;
  overflow: initial;
  position: relative
}

.el-table .sort-caret {
  color: #c0c4cc;
  width: 14px;
  overflow: hidden;
  font-size: 15px;
  position: absolute
}

.el-table .sort-caret.ascending {
  top: 5px
}

.el-table .sort-caret.descending {
  bottom: 7px
}

.el-table .ascending .sort-caret.ascending,
.el-table .descending .sort-caret.descending {
  color: #409EFF
}

.el-table .hidden-columns {
  visibility: hidden;
  position: absolute;
  z-index: -1
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #FAFAFA
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
.el-table__body tr.current-row>td,
.el-table__body tr.hover-row.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped.current-row>td,
.el-table__body tr.hover-row.el-table__row--striped>td,
.el-table__body tr.hover-row>td {
  background-color: #ecf5ff
}

.el-table__column-resize-proxy {
  position: absolute;
  left: 200px;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 1px solid #ebeef5;
  z-index: 10
}

.el-table__column-filter-trigger {
  display: inline-block;
  line-height: 34px;
  cursor: pointer
}

.el-table__column-filter-trigger i {
  color: #909399;
  font-size: 12px;
  -webkit-transform: scale(.75);
  transform: scale(.75)
}

.el-table--enable-row-transition .el-table__body td {
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #f5f7fa
}

.el-table--fluid-height .el-table__fixed,
.el-table--fluid-height .el-table__fixed-right {
  bottom: 0;
  overflow: hidden
}
