@charset 'utf-8';

/* .data_table{
  color: #fff;
  line-height: 45px;
  padding-left: 15px;
  display: inline-block;
} */

.button-primary {
  display: inline-block;
  border: 1px solid #d1dbe5;
  padding: 8px 20px 8px;
  /* border-radius: 5px; */
  background-color: #39C8B2;
  color: #fff;
  font-size: 13px;
}
.button-primary:hover {
  background-color: #24b19f;
  color: #fff;
}

.bg-purple-dark {
  background: #8392ae;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
/* .row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
} */
.data_show{
  color: #fff;
  line-height: 34px;
  padding: 0 50px 0 15px;
  display: inline-block;   
}
/* .date {
  margin-left: 50px;
  display: inline-block;
} */
.demonstration {
  color: #ffffff;   
}
.block{
  display: inline-block;
  padding-left: 80px;
}

.table_nav{
  margin-top: 20px;
}
.programName {
  display: inline-block;
  width: 200px;
  padding-left: 10px;
}
.el-checkbox.program-checkbox {
  margin: 0 30px 0 15px;
  color: #fff;
}
.check{
  float: right;
  margin-top: 10px;
  margin-right: 50px;
  color: #ffffff;
}

.programLine {
  color: #ffffff;
  line-height: 34px;
  padding-left: 15px;
  display: inline-block;
}
.pageSize {
  float: right;
  font-size: 0;
}
.pageSize>div {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}
.bottom_style {
  padding: 15px 15px 12px;
  margin-bottom: 30px;
  position: relative;
  font-size: 0;
  /* border: 1px solid #c3d4e8; */
  border-top-width: 0;
  background: rgb(211, 222, 233);
}
.block_page{
  float: right;
}